
body{
  background: url(https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fjpeg&attachment_token=AOo0EEV8WmjjR1TCP70zes%2F438828rMgKlJkr5G3uQtiWRGfo9GhtSo4OjX55MF1dY%2FpNVD4Wz0jyodOSE8S%2BJqLUIZMkNMEokepHNrN%2FOAkeft6nP5pXQzj2tvnje3glw5ZsMvgc8AU7KdGe3X9ha2f%2FIbCTR5Kx2753NWPH1cREnS8mCzLn0k%2BZ%2BLfyTPlxcV7ZqYPR%2FVtGF7WCZb%2FNck3vORvXawUZfRTu1PEK3sznjYg1kY2ev6%2BaFk3ki5n%2F0RD8HZXj9Mxcf16WAzRgX2bkK73OOoKPf5Mha6xECbKRV%2FFNh96whhfU03k9QQWOliZkd6cVnpWREQizH0WRLvFxPhB8x9E2ljXt6p2Z7AUwcjI6YLnLChIhkAfy6L7c2V3YZp3ZanoHYIOzUDTYB4vCNklePZFaOzbCNDb3ClRG6jWptuppKs4mV2uI73Y2UddfpXvFQuzVBa8txkIhdCMpHzoefW0KrQSy%2ByPSTuim0%2BoDOyJoXYPlcY6oTeJBJ%2BKx1rPnE2AnPMR6cSEDhcQpL1A2t5kef84Eupfn65TTtgUYuSULXoP446mVU8LURek&sz=w1920-h1032);
  width: 100%;
}

/* Basic styling for the page */

.section {
  width: 100%;
/*  height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box styles */
.box {
  width: 200px;
  margin: 20px;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 100px;
  
    border-radius: 768px 768px 0px 0px;
    transform: scale(0.65, 0.65);
/*  opacity: 0;*/
}

/* Add some extra styling for a more visually appealing layout */
.gradient-blue {
/*  background: linear-gradient(45deg, #00c6ff, #0072ff);*/
width: 20%;
/*background: white;*/
height: 20px;
}

.height_full{
/*  height: 100vh;*/
}

.section_pos{
      width: 100%;
    height: 900px;
    background: url(https://www.purewow.com/stories/the-top-places-in-the-world-to-visit-in-2023/assets/2.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.skhd{
  height: 100vh;
}