.apply-btn,
.custom-radio .ant-radio-button-wrapper-checked {
  background-color: #eb5b00 !important;
  border-color: #eb5b00 !important;
  color: white !important;
}

.apply-btn:hover,
.custom-radio .ant-radio-button-wrapper:hover {
  background-color: #f46f1a !important;
  border-color: #f46f1a !important;
  color: white !important;
}

.passenger-details {
  z-index: 100;
  padding: 10px;
  border: 1px solid orange;
}

.view-more-txt {
  color: #008cff !important;
  text-align: right;
  font-size: 10px;
  width: 38%;
  margin-left: 40%;
  border-radius: 18px;
}

.view-more-txt:hover {
  color: white !important;
  background-color: #008cff !important;
}

.greyed-out {
  opacity: 0.5;
  pointer-events: none;
  background-color: #f0f0f0;
  /* cursor: not-allowed; */
}

.pos-t-r {
  top: 24%;
  right: 12%;
  @media (max-width: 1300px) {
    top: 28%;
    right: 12%;
  }
}

.pos-t-r_o {
  top: 24%;
  right: 12%;
  @media (max-width: 1300px) {
    top: 29%;
    right: 5%;
  }
}

.pos-t-r_m {
  top: 24%;
  right: 12%;
  @media (max-width: 1300px) {
    top: 33%;
    right: 13%;
  }
}

.eh-tf {
  top: "";
  right: "0%";
}
