/* @media print {
  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }
} */

.no-print {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }

  table {
    border-collapse: collapse !important;
    width: 100% !important;
  }

  th,
  td {
    border: 1px solid #d1d5db !important;
    padding: 0.5rem !important;
    text-align: left !important;
  }

  th {
    background-color: #f3f4f6 !important;
    font-weight: 600 !important;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }
}

.m-px-10 {
  @media (max-width: 1300px) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
