@media print {
  body * {
    visibility: hidden; /* hide everything */
  }

  .print-area,
  .print-area * {
    visibility: visible; /* except this area */
  }

  .print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
