/* ------------------------------------------------------------------------------------------------------- */

/* Main css */

.section__category {
    display: grid;
    grid-template-columns: 25% 30% 15% 25%;
    gap: 15px;
    place-content: center;
    grid-template-rows: 50% 50%;
    height: 80vh;
    min-height: 460px;
    padding: max(2vh, 1.5rem);
}

@media screen and (max-width: 690px) {
    .section__category {
        height: 65vh;
    }
}

@media screen and (max-width: 470px) {
    .section__category {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 35%);
    }
}

.section__category .dgfry_card {
    border-radius: 25px;
    box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.26);
}

@media screen and (max-width: 470px) {
    .section__category .dgfry_card {
        grid-column: span 1;
    }
}

.section__category .dgfry_card:nth-child(2) {
    grid-column: 2/3;
    grid-row: span 2;
}

@media screen and (max-width: 690px) {
    .section__category .dgfry_card:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
    }
}

.section__category .dgfry_card:nth-child(3) {
    grid-column: span 2;
}

@media screen and (max-width: 690px) {
    .section__category .dgfry_card:nth-child(3) {
        grid-column: 2/4;
        grid-row: 1/2;
    }
}

@media screen and (max-width: 690px) {
    .section__category .dgfry_card:nth-child(6) {
        grid-column: 2/4;
        grid-row: 2/3;
    }
}

@media screen and (max-width: 470px) {
    .section__category .dgfry_card:nth-child(5) {
        grid-column: span 2;
    }
}

.section__category .dgfry_card p {
    font-size: clamp(0.9rem, 0.8750rem + 0.1250vw, 1rem);
    line-height: 1.4;
}

.section__category .dgfry_card img {
    border-radius: 25px;
}

.section__category .dgfry_card .card__img {
    position: relative;
    height: 100%;
}

.section__category .dgfry_card .card__img .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    color: #fff;
    padding: clamp(0.938rem, 5vw, 1.563rem);
    background: #02022e;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.section__category .dgfry_card .card__img span {
    position: absolute;
    top: 25px;
    left: min(2vmax, 1.563rem);
    color: #ff7b29;
    background: #fff;
    border-radius: 50px;
    padding: 2px 8px 2px 6px;
    display: flex;
    box-shadow: 0px 1px 20px #0000002b;
}

@media screen and (max-width: 690px) {
    .section__category .dgfry_card .card__img span {
        top: 20px;
    }
}

@media screen and (max-width: 470px) {
    .section__category .dgfry_card .card__img span {
        top: 15px;
    }
}

.section__category .dgfry_card .card__img span svg {
    fill: #ff7b29;
    width: 20px;
    margin-right: 2px;
}

.general-container {
    display: flex;
    height: 34rem;
    margin: 0 auto;
    width: 100%;
}

.radio {
    display: none;
}

.content {
    background: transparent;
    background-image: url("../../assets/imgs/page/holiday/Clara-on-a-Longboat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3rem;
    cursor: pointer;
    flex: 1;
    margin-right: 0.8rem;
    overflow: hidden;
    position: relative;
    transition: all 500ms ease;
}

.content::before {
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.content>* {
    position: relative;
    z-index: 1;
}

.content:nth-of-type(2) {
    background: transparent;
    background-image: url("https://www.routeperfect.com/blog/wp-content/uploads/2023/05/10_most_picturesque_villages_in_switzerland.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content:nth-of-type(3) {
    background: transparent;
    background-image: url("https://ichef.bbci.co.uk/ace/standard/976/cpsprodpb/10A3C/production/_129365186_gettyimages-103455489.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content:nth-of-type(4) {
    background: transparent;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/de/Bank_junction_-_2020-09-20_%282%29.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.radio:hover+.content>.card-title {
    opacity: 1;
    transform: translateX(0, 0);
}

.radio:hover+.content>.title-card {
    opacity: 1;
    transform: translateX(0);
}

.active_content {
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    flex: 4;
}

.book_now_offers {
    cursor: pointer;
    padding: 14px;
    background: #1a1a1a99;
    width: 150px;
    text-align: center;
    border-radius: 6px;
    transition: all 300ms;
}

.absolute_b0 {
    position: absolute !important;
    bottom: 30px;
    left: 30px;
}

.book_now_offers>span {
    color: white;
}

.book_now_offers:hover {
    background: #ffffff;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.book_now_offers:hover>span {
    color: black;
}

.m_auto {
    margin: 0px auto;
}.section {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
}
.card__img>img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

  .slider_auto_section_drf1{
    width: 100%;
    margin: 0px auto;
    left: 0px;
    right: 0px; overflow: hidden;
    height: 700px;
/*    border-radius: 30px;*/
  }


.details {
  z-index: 22;
  position: absolute;
/*  top: 440px;*/
  top: 120px;
  left: 60px;
}
.details .place-box {
  height: 46px;
  overflow: hidden;
}
.details .place-box .text {
  padding-top: 16px;
  font-size: 20px;
}
.details .place-box .text:before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 99px;
  background-color: white;
}
.details .title-1,
.details .title-2 {
  font-weight: 600;
  font-size: 72px;
/*  font-family: "Oswald", sans-serif;*/
}
.details .title-box-1,
.details .title-box-2 {
  margin-top: 2px;
  height: 100px;
  overflow: hidden;
}
.details > .desc {
  margin-top: 16px;
  width: 500px;
}
.details > .cta {
  width: 500px;
  margin-top: 24px;
  display: flex;
  align-items: center;
}
/*.details > .cta > .bookmark {
  border: none;
  background-color: #ecad29;
  width: 36px;
  height: 36px;
  border-radius: 99px;
  color: white;
  display: grid;
  place-items: center;
}
.details > .cta > .bookmark svg {
  width: 20px;
  height: 20px;
}*/


.details > .cta > .discover {
  border: 1px solid #ffffff;
  background-color: transparent;
  height: 36px;
  border-radius: 99px;
  color: #ffffff;
  padding: 4px 24px;
  font-size: 12px;
  margin-left: 16px;
  text-transform: uppercase;
}

.discover{
  border: 1px solid orange!important;
  background: orange!important;
}

.content-title-1,
.content-title-2 {
  font-weight: 600;
  font-size: 20px;
/*  font-family: "Oswald", sans-serif;*/
}


.text, .content-title-2, .title-box-1, .title-1, .title-2{
color: white; 
}


/*
.pagination {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-flex;
}
.pagination > .arrow {
  z-index: 60;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  border: 2px solid #ffffff55;
  display: grid;
  place-items: center;
}
.pagination > .arrow:nth-child(2) {
  margin-left: 20px;
}
.pagination > .arrow svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  color: #ffffff99;
}
.pagination .progress-sub-container {
  margin-left: 24px;
  z-index: 60;
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
}
.pagination .progress-sub-container .progress-sub-background {
  width: 500px;
  height: 3px;
  background-color: #ffffff33;
}
.pagination .progress-sub-container .progress-sub-background .progress-sub-foreground {
  height: 3px;
  background-color: #ecad29;
}
.pagination .slide-numbers {
  width: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 60;
  position: relative;
}
.pagination .slide-numbers .item {
  width: 50px;
  height: 50px;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  font-size: 32px;
  font-weight: bold;
}*/

.card-content {
  position: absolute;
  left: 0;
  top: 0;
  color: #FFFFFFDD;
  padding-left: 16px;
  bottom: 0px;
  margin: 0px auto;
  width: 100%;
  
/*  margin-left: -16px;*/
/*  margin-top: 30px;*/
}

.card {

  border-radius: 15px;
  overflow: hidden;
/*  box-shadow: 0 10px 25px rgba(0,0,0,0.2);*/
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);
  position: absolute;
  background-size: cover;
}
.overlay-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.content-start {
  width: 30px;
  height: 5px;
  border-radius: 99px;
  background-color: #FFFFFFDD;
}


.content-place {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
}

.content-place {
  font-weight: 500;
}

.content-title-1,
.content-title-2 {
  font-weight: 600;
  font-size: 20px;
/*  font-family: "Oswald", sans-serif;*/
}

.content-start {
  width: 30px;
  height: 5px;
  border-radius: 99px;
  background-color: #FFFFFFDD;
}

.slider-container{
    height: 650px;
}

.card_sub{
    position: absolute;
    bottom: 30px;
}


.dummy_section_header_1{
  position:relative;
/*  height: 550px;*/
/*  background: url();*/
  background-repeat: no-repeat;
  background-size: cover;
}


.dummy_section_header_1_center{
    position: absolute;
    bottom: 0px;
    top: 0px;
    margin: 0px auto;
    right: 0px;
    left: 0px;
    /* width: 200px; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: #08080857;
}


.full_with_sectionMain{   
  width: 100%;
    font-size: 102px;
    color: white;
    margin-top: 20px;
}

.full_with_sectionQuotes{
  background: #4e4646;
    border-radius: 100px;
    width: 230px;
    padding: 10px;
    color: whie;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 50px auto;
}

.full_with_sectionQuotes:hover{
  background: #878484;
}
    


.des_grid_bg_1{
  background: url('https://www.holidify.com/images/bgImages/DELHI.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.des_grid_bg_2{
  background: url('https://fastcover.com.au/media/14735/vivid-lightshow-sydney-opera-house-sydney-australia.jpg?width=800');
  background-repeat: no-repeat;
  background-size: cover;
}
.des_grid_bg_3{
  background: url('https://www.onthegotours.com/repository/Sydney--Best-Places-to-Visit-in-Australia-554401519911775_crop_710_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.des_grid_bg_4{
  background: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/23/40/47/caption.jpg?w=600&h=-1&s=1');
  background-repeat: no-repeat;
  background-size: cover;
}
.des_grid_bg_5{
  background: url('https://manntravel.com.au/wp-content/uploads/2024/03/au.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.des_grid_bg_6{
  background: url('https://www.mensjournal.com/.image/t_share/MjA1OTY5Mzk4MjI4MzI5ODE4/best-places-to-visit-in-australia-tasmanias-freycinet-national-park-wineglass-bay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bob_shadow_1_x_1{
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);
  margin-top: -150px;
  z-index: 99;
}